.fondo{
    background-image: url(/img/patron-fondo.svg);
    background-color: #3d378c;
    background-size: 225px;
    height: 380px;
}
.encabezado{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    padding: 140px;
}
.encabezado h1{
    font-weight: 700;
    font-size: 55px;
}
.encabezado p{
    font-size: 15px;
}
